$color-bg: rgb(16, 16, 16);
$color-text-first: rgb(255, 255, 255);
$color-text-second: rgb(203, 203, 203);
$color-text-third: rgb(184, 186, 186);
$color-text-fourth: rgb(151, 151, 151);

$color-green: rgb(0, 196, 117);

$mobile: 425px;
$tablet: 1000px;
$desktop: 1024px;
$large: 1440px;
