@import "../mixin";
@import "../variables";

.inputs {
    @include center(column);
    width: 100%;
    gap: 20px;

    .form {
        width: 100%;
        @include center(column);
        gap: 10px;

        .input {
            @include center(column);
            width: 100%;
            gap: 5px;

            label {
                align-self: flex-start;
                font-size: 12px;
                font-weight: 500;
            }

            input {
                width: 100%;
                padding: 10px;
                border: 1px solid $color-text-third;
                border-radius: 5px;
                font-size: 16px;
                color: $color-text-first;
                background-color: transparent;
                transition: all 0.3s ease;

                &:focus {
                    outline: none;
                    border-color: $color-green;
                }
            }

            .radio {
                align-self: flex-start;
                @include center;
                gap: 10px;
            }
        }

        .row {
            width: 100%;
            @include center;
            justify-content: space-between;
        }
    }

    .full__btn {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        font-size: 1.2rem;
        font-weight: 500;
        color: $color-text-second;
        background-color: $color-green;

        &:hover {
            background-color: darken($color-green, 10%);
        }
    }
}
